<div class="row">

    <div class="col-sm-12">

        <div class="todo-ui">

            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-blue-ebonyclay hide"></i>
                            <span class="caption-helper font-blue-ebonyclay bold uppercase">Carteiras</span>
                        </div>
                        <div class="actions">

                        </div>
                    </div>
                    <div class="portlet-body flip-scroll">
                        <table datatable="ng" dt-options="PortfolioList.dtOptions" class="table table-bordered table-striped table-condensed table-hover flip-content">
                            <thead class="flip-content">
                            <tr>
                                <th>
                                    Cliente
                                </th>
                                <th width="20%">
                                    Equipe
                                </th>
                                <th>
                                    Operador SAP
                                </th>


                                <th class="numeric text-center"  width="8%">
                                    <a href="javascript:;">
                                        <i class="icon-settings font-blue-ebonyclay"></i>
                                    </a>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="o in PortfolioList.portfolio[0]">
                                <td>
                                    {{o.client.cnpj}} - {{o.client.razao}}
                                </td>
                                <td>
                                    {{o.team.name}}
                                </td>
                                <td>
                                    {{o.member.sap}}
                                </td>


                                <td class="numeric text-center">
                                    <a ng-href="#/carteiras/{{o.id}}/remove" tooltip="Excluir">
                                        <i class="fa fa-trash font-blue-ebonyclay"></i>
                                    </a>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
    <!-- END LEFT CONTENT-->


    <!-- END PAGE CONTENT-->
</div>