<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastro de Carteira</div>
                <div class="panel-body">


                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="PortfolioNew.save()" novalidate>

                        <!-- client field -->
                        <div class="form-group" ng-class="{'has-error':!form.client_id.$valid && form.client_id.$touched}">
                            <label class="col-md-4 control-label">Cliente:</label>
                            <div class="col-md-6">

                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control" type="text" name="client_id"
                                           placeholder="Pesquise somente por CNPJ ..."
                                           ng-model="PortfolioNew.selectedClient"
                                           typeahead="o as (o.cnpj + ' - ' + o.razao) for o in PortfolioNew.getClients($viewValue)|limitTo:10"
                                           typeahead-input-formatter="PortfolioNew.formatClient($model)"
                                           typeahead-on-select="PortfolioNew.changeCli($item)"
                                           typeahead-min-length="4" required/>
                                </div>

                                <div class="help-block" ng-messages="form.client_id.$error" ng-show="form.client_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>

                            </div>
                        </div>



                        <!-- team field -->
                        <div class="form-group" ng-class="{'has-error':!form.team_id.$valid && form.team_id.$touched}">
                            <label class="col-md-4 control-label">Equipe:</label>
                            <div class="col-md-6">

                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control" type="text" name="team_id"
                                           placeholder="Pesquise somente pelo nome da equipe ..."
                                           ng-model="PortfolioNew.selectedTeam"
                                           typeahead="o as (o.slug + ' - ' + o.name) for o in PortfolioNew.getTeams($viewValue)|limitTo:10"
                                           typeahead-input-formatter="PortfolioNew.formatTeam($model)"
                                           typeahead-on-select="PortfolioNew.changeTeam($item)"
                                           typeahead-min-length="4" required/>

                                </div>

                                <div class="help-block" ng-messages="form.team_id.$error" ng-show="form.team_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>

                            </div>
                        </div>



                        <!-- member field -->
                        <div class="form-group" ng-class="{'has-error':!form.member_id.$valid && form.member_id.$touched}">
                            <label class="col-md-4 control-label">Operador:</label>
                            <div class="col-md-6">

                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control" type="text" name="member_id"
                                           ng-disabled="PortfolioNew.isDisabled(PortfolioNew.selectedTeam)"
                                           placeholder="Pesquise somente pelo sap do teleoperador ..."
                                           ng-model="PortfolioNew.selectedMember"
                                           typeahead="o as (o.sap + ' - ' + o.user.name) for o in PortfolioNew.getMembers($viewValue)| limitTo:10"
                                           typeahead-input-formatter="PortfolioNew.formatMember($model)"
                                           typeahead-on-select="PortfolioNew.changeMember($item)"
                                           typeahead-min-length="4" required/>
                                </div>

                                <div class="help-block" ng-messages="form.member_id.$error" ng-show="form.member_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>