<div class="col-md-12 col-sm-12">
    <!-- BEGIN SEARCH FIELD -->
    <div class="input-icon">
        <i class="fa fa-search"></i>
        <input class="form-control" type="text" name="client_id"
               placeholder="Pesquise somente por CNPJ ..."
               ng-model="vendaAl.selectedClient"
               typeahead="o as (o.cnpj + ' - ' + o.razao) for o in vendaAl.getClients($viewValue)|limitTo:10"
               typeahead-input-formatter="vendaAl.formatClient($model)"
               typeahead-on-select="vendaAl.changeCli($item)"
               typeahead-min-length="4"/>

    </div>
    <div class="note note-info">
        <h4 class="block">Sobre clientes de outras carteiras</h4>
        <p>
            Se o cliente que você selecionou pertencer a uma carteira, ele estará identificado como <b><i>"Possui carteira!"</i></b> no final da Razão Social, mas isto não te
            impedirá de registrar o seu pedido.
        </p>
    </div>
    <!-- END SEARCH FIELD -->
    <br />

    <div class="scroller" style="max-height: 600px;"
         slimscroll="{color:'#dae3e7', height: '600px'}">
        <div class="todo-tasklist">

        </div>


        <!-- BEGIN CIP CONTENT -->
        <div id="cli_cip" ng-show="vendaAl.showCliStats">
            <br />
            <br />
            <div class="portlet">
                <div class="portlet-body">
                    <div class="caption" style="border-bottom: 1px solid #eee; padding-bottom: 10px;">
                        <i class="fa fa-calendar-check-o font-blue-dark"></i>
                        <span class="caption-helper font-blue-dark bold uppercase">Análise do Cliente</span>
                    </div>
                    <br/>
                    <div class="col-sm-12" >
                        <div class="col-sm-6">
                            <div class="table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            Informações Gerais
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Ticket Médio: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.ticket_medio}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Méd. Semanal: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.media_semanal}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Méd. Semestral: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.venda_bruta}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            Vendas por Canal
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Ativo: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_televendas}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Receptivo: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_telemarketing}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Eletrônico: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_eletronico}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="table-scrollable">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            Vendas por Segmento
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Genéricos: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_generico}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Hig. Beleza: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_hb}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">OTC: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_otc}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="highlight text-left">
                                            <span class="bold text-blue">Outros: </span>
                                            <span class="pull-right">R$ {{vendaAl.clientInfo.valor_outros}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CIP CONTENT -->


    </div>
</div>