<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Cadastro de Teleoperadores</div>
                <div class="panel-body">


                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="MemberNew.save()" novalidate>

                        <!-- user field -->
                        <div class="form-group" ng-class="{'has-error':!form.user_id.$valid && form.user_id.$touched}">
                            <label class="col-md-4 control-label">Usuário:</label>
                            <div class="col-md-6">

                                <!-- BEGIN SEARCH USER FIELD -->
                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control" type="text" name="user_id"
                                           placeholder="Pesquise usando o nome do usuário.."
                                           ng-model="MemberNew.member.user_id"
                                           typeahead="o.id as (o.name + ' - ' + o.username) for o in MemberNew.getUsers($viewValue) | limitTo:5"
                                           typeahead-input-formatter="MemberNew.formatUser($model)"
                                           typeahead-min-length="3"/>
                                </div>
                                <!-- END SEARCH USER FIELD -->

                                <div class="help-block" ng-messages="form.user_id.$error" ng-show="form.user_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>

                            </div>
                        </div>

                        <!-- team field -->
                        <div class="form-group" ng-class="{'has-error':!form.team_id.$valid && form.team_id.$touched}">
                            <label class="col-md-4 control-label">Equipe:</label>
                            <div class="col-md-6">
                                <!-- BEGIN SEARCH USER FIELD -->
                                <div class="input-icon">
                                    <i class="fa fa-search"></i>
                                    <input class="form-control" type="text" name="team_id"
                                           placeholder="Pesquise usando o nome da equipe"
                                           ng-model="MemberNew.member.team_id"
                                           typeahead="o.id as (o.name + ' - ' + o.slug) for o in MemberNew.getTeams($viewValue) | limitTo:5"
                                           typeahead-input-formatter="MemberNew.formatTeam($model)"
                                           typeahead-min-length="3"/>
                                </div>
                                <!-- END SEARCH USER FIELD -->
                                <div class="help-block" ng-messages="form.team_id.$error" ng-show="form.team_id.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <!-- SAP field -->
                        <div class="form-group" ng-class="{'has-error':!form.sap.$valid && form.sap.$touched}">
                            <label class="col-md-4 control-label">SAP</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="sap" ng-model="MemberNew.member.sap" required>
                                <div class="help-block" ng-messages="form.sap.$error" ng-show="form.sap.$touched">
                                    <div ng-message="required">Campo obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Salvar</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>