<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Alterar dados de Usu&aacute;rio</div>
                <div class="panel-body">

                    <tabset>
                        <tab heading="Dados Cadastrais">
                            <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="UserEdit.update()" novalidate>

                                <!-- user field -->
                                <div class="form-group" ng-class="{'has-error':!form.group_id.$valid && form.group_id.$touched}">
                                    <label class="col-md-4 control-label">Grupo:</label>
                                    <div class="col-md-6">
                                        <!-- BEGIN Group FIELD -->
                                        <div class="input-icon">
                                            <i class="fa fa-search"></i>
                                            <input class="form-control" type="text" name="group_id"
                                                   placeholder="Selecione um grupo..."
                                                   ng-model="UserEdit.selectedGroup"
                                                   typeahead="o as (o.name) for o in UserEdit.getGroups($viewValue)|limitTo:10"
                                                   typeahead-input-formatter="UserEdit.formatGroup($model)"
                                                   typeahead-on-select="UserEdit.changeGroup($item)"
                                                   typeahead-min-length="3"
                                                   required/>
                                        </div>

                                        <div class="help-block" ng-messages="form.group_id.$error" ng-show="form.group_id.$touched">
                                            <div ng-message="required">Campo obrigatório</div>
                                        </div>

                                    </div>

                                </div>

                                <!-- name field -->
                                <div class="form-group" ng-class="{'has-error':!form.name.$valid && form.name.$touched}">
                                    <label class="col-md-4 control-label">Nome Completo:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="name" ng-model="UserEdit.user.name" required>
                                        <div class="help-block" ng-messages="form.name.$error" ng-show="form.name.$touched">
                                            <div ng-message="required">Campo obrigatório</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- username field -->
                                <div class="form-group" ng-class="{'has-error':!form.username.$valid && form.username.$touched}">
                                    <label class="col-md-4 control-label">Login:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="username" ng-model="UserEdit.user.username"
                                               user-verify required>
                                        <div class="help-block" ng-messages="form.username.$error" ng-show="form.username.$touched">
                                            <div ng-message="required">Campo obrigatório</div>
                                            <div ng-message="unique">Este login já está sendo utilizado</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <button type="submit" class="btn btn-primary" ng-disabled="!form.$valid">Salvar Alterações</button>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <tab heading="Senha e Segurança">
                            <form class="form-horizontal" name="form2" method="POST" ng-submit="UserEdit.updatePwd()" novalidate>



                                <!-- password field -->
                                <div class="form-group" ng-class="{'has-error':!form2.password.$valid && form2.password.$touched}">
                                    <label class="col-md-4 control-label">Senha: </label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="password" ng-model="UserEdit.user.password"
                                               minlength="6" maxlength="12" pwd-esp required>

                                        <div class="help-block">
                                            <span><i class="fa fa-info-circle font-blue"></i> <strong>Aten&ccedil;&atilde;o ao escolher a senha!</strong></span>
                                            <ul class="list">
                                                <li>M&iacute;nimo 6 caracteres</li>
                                                <li>M&aacute;ximo 12 caracteres</li>
                                                <li>Deve conter letras e números</li>
                                                <li>Deve conter uma letra MAI&Uacute;SCULA</li>
                                                <li>Deve conter ao menos um dos caracteres a seguir: <code>@ # $ % !</code> </li>
                                                <li><span class="font-red bold">Não</span> deve conter sequências de repetições como: <span>"aaaa"</span> </li>
                                                <li><span class="font-red bold">Não</span> deve conter espaços em branco. </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- password field -->
                                <div class="form-group" ng-class="{'has-error':!form2.passwordre.$valid && form2.passwordre.$touched}">
                                    <label class="col-md-4 control-label">Confirme a Senha:</label>
                                    <div class="col-md-6">
                                        <input type="password" class="form-control" name="passwordre" ng-model="UserEdit.passwordRe"
                                               password-compare="UserEdit.user.password" required>
                                        <div class="help-block" ng-messages="form2.passwordre.$error" ng-show="form2.passwordre.$touched">
                                            <div ng-message="required">Campo obrigatório</div>
                                            <div ng-message="passwordCompare">As senhas precisam ser iguais.</div>
                                        </div>
                                    </div>
                                </div>

                                <!-- recovery field -->
                                <div class="form-group" ng-class="{'has-error':!form2.recovery.$valid && form2.recovery.$touched}">
                                    <label class="col-md-4 control-label">Frase de Segurança:</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="recovery" ng-model="UserEdit.user.recovery" required>
                                        <div class="help-block">
                                            <span><i class="fa fa-info-circle font-blue"></i> Uma palavra ou frase que será solicitada caso você esqueça sua senha.</span>
                                        </div>
                                        <div class="help-block" ng-messages="form2.recovery.$error" ng-show="form2.recovery.$touched">
                                            <div ng-message="required">Campo obrigatório</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <button type="submit" class="btn btn-primary" ng-disabled="!form2.$valid">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </tab>
                    </tabset>

                </div>
            </div>
        </div>
    </div>
</div>